/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 480px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    
}

/* Barra superior */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.user-icon img, .menu-icon img {
    width: 24px;
    height: 24px;
}

/* Título */
h1 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
    padding: 20px;
    text-align: left;
    color: #707070;
}

/* Barra de búsqueda */
.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border: 1px solid #12CDD4;
    border-radius: 20px;
    font-size: 1rem;
}

.search-bar button {
    background: none;
    border: none;
    position: relative;
    right: 30px;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
}

/* Lista de lugares */
.places-list {
    padding: 20px;
}

.place {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.place img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.place-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place-info h2 {
    font-size: 1rem;
    font-weight: bold;
}

.heart-icon {
    font-size: 1.5rem;
    color: #00C4CC;
    background: none;
    border: none;
    cursor: pointer;
}

/* Menú inferior */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #E4F4F8;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #707070;
    font-size: 0.8rem;
}

.bottom-nav a img {
    width: 20px; /* Tamaño del ícono */
    margin-bottom: 5px; /* Espacio entre ícono y texto */
}

.bottom-nav a.active {
    color: #00C4CC;
}
.corazon {
    background: none;
    border: none;
}
